@media only screen and (min-width: 640px) {
  body {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  body {
    position: relative;
    background-color: rgba(249, 249, 255, 1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
    font-family: "DM Sans", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .hero {
    width: 100%;
    margin: 0 0;
    height: 194px;
    background: linear-gradient(308.48deg, #5f22cb 61.48%, #f12df5 137.01%);
    border-radius: 0 0 15px 15px;

    &__back {
      display: flex;
      color: white;
      padding: 1rem;
      cursor: pointer;

      img {
        margin-right: 10px;
      }

      span {
        font-size: 18px;
        line-height: 35px;
      }
    }

    &__base {
      margin: 0 16px;
      margin-top: 45px;
      width: auto;
      height: auto;
      background: #ffffff;
      box-shadow: 0px 10px 8px rgba(18, 78, 233, 0.04);
      border-radius: 5px;
      padding: 10px 31px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .buttons {
        display: flex;
        margin-bottom: 12px;

        button {
          min-width: 145px;
          height: 52px;
          background: #c53b9f;
          border-radius: 3px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border: none;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          color: #fff;

          &:first-child {
            // background: #c53b9e41;
            margin-right: 10px;
            // background: #c53b9f1a;
            background: rgba(197, 59, 159, 0.1);
            border: 1px solid #c53b9f;
            color: #c53b9f;
          }
        }

        button:hover {
          opacity: 0.4;
          cursor: pointer;
        }
      }
    }

    &__text {
      text-align: center;

      p {
        font-weight: bold;
        font-size: 10px;
        line-height: 20px;
        text-transform: uppercase;
        color: #6023cc;
        margin-top: 10px;
      }

      h3 {
        text-transform: uppercase;
        color: #000000;
        opacity: 0.8;
        font-weight: bold;
        font-size: 24px;
        line-height: 20px;
        margin-top: -5px;
      }
    }
  }

  main {
    background: #f9f9ff;
  }

  .bill {
    margin-top: 100px;

    &__cards {
      display: flex;
      justify-content: space-between;
      margin: 8px 1rem;
      padding: 20px;
      border-radius: 5px;
      background-color: #ffffff;
      .right {
        display: flex;
      }

      img {
        margin-right: 23px;
      }

      p {
        color: #000;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
      }

      a {
        img {
          margin: 15px 0;
        }
      }
    }
  }

  .transactions {
    width: auto;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 10px 8px rgba(18, 78, 233, 0.04);
    border-radius: 5px;
    margin: 5px 17px;
    margin-top: 20px;
    padding: 17px 20px;
  }
  .sub-text {
    display: flex;
    margin: 0 auto;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e3ecf7;
  }
  .next-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }
  .next-flex img {
    margin-left: 20px;
  }
  .next-flex h4 {
    color: rgba(1, 174, 19, 1);
  }

  .no-border {
    border-bottom: none;
  }
  .sub-text p {
    color: #7a83a2;
    font-size: 14px;
    line-height: 18px;
    font-size: 14px;
  }
  .transaction-text p {
    font-size: 10px;
    line-height: 13px;
  }
  .transaction-text h4 {
    font-size: 14px;
    line-height: 18px;
  }
  .sub-text a {
    color: rgba(96, 35, 204, 1);
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
  }
  .transaction-text .red {
    color: #f21d11;
  }
  /*footer css*/
  .footer {
    margin: 0;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    height: 70px;
    background-color: white;
    padding-right: 20px;
  }
  .icon {
    padding: 0 auto;
    margin-top: 5px;
    cursor: pointer;
  }
  .icon svg,
  .icon img {
    transition: ease-in-out 0.5s;
    color: #4c4079;
    fill: currentColor;
  }
  .icon svg:hover,
  .icon svg:active,
  .icon svg:focus {
    color: #01ae13;
    fill: currentColor;
  }

  //   .text main h5 {
  //     color: #7a83a2;
  //     font-weight: normal;
  //     font-size: 16px;
  //     line-height: 18px;
  //     margin-top: 25px;
  //     padding: 31px;
  //     padding-bottom: 0;
  //   }
  //   .flex-card,
  //   .loan-cards {
  //     display: flex;
  //     flex-wrap: nowrap;
  //     padding: 0 31px;
  //     overflow-x: auto;
  //   }
  //   .card {
  //     background: #ffffff;
  //     border: 1px solid #7a83a2;
  //     box-sizing: border-box;
  //     box-shadow: 0px 10px 8px rgba(18, 78, 233, 0.04);
  //     border-radius: 5px;
  //     width: 300px;
  //     height: auto;
  //     padding: 20px;
  //     margin-right: 10px;
  //   }
  //   .btn {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     height: 40px;
  //     width: 216px;
  //     padding: 10px;
  //     background: #c53b9f;
  //     border-radius: 3px;
  //     border: none;
  //     color: white;
  //     /* margin: 0 auto; */
  //   }
  //   .btn:hover {
  //     opacity: 0.4;
  //   }
}
